.App {
  text-align: center; 
  background-color: #f0f2f5; 
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Product {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 300px; 
}
.Create-Button {
  text-decoration: none;
  display: inline-block;        
  margin-top: 1rem;             
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  background-color: #2b6cb0;   
  color: white;                 
  border-radius: 0.375rem;      
  padding: 0.5rem 1rem;         
  font-weight: bold;            
  cursor: pointer;
  margin-left:0;           

}

.create-button:hover {
  background-color: #2c5282;  
}


.Product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box;
} 
.ProductDetails {
    padding: 15px;
}

.ProductActions {
    padding: 10px;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: space-between;
}

.no-spinners input[type='number']::-webkit-inner-spin-button,
.no-spinners input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}


.EditButton {
    text-decoration: none;
    align-self: flex-end;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.EditButton:hover {
    background-color: #0056b3;
}
.navbar {
  background-color: #333;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.navbar h2 {
  margin: 0; 
  color: #f0f2f5; 
  font-family: 'Gill Sans', sans-serif; 
  font-size: 0.85em; 
}

.create-input {
  width: 100%;
  display: block;
  border: 1px solid; 
  padding: 0.75rem; 
  color: #718096; 
}
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 400px; 
  margin: 20px auto;
}

.form-container input,
.form-container button {
  width: calc(100% - 20px);
}